
.index-border{
    border-color: 	#eee5de;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
    padding-bottom: 5px;
    border-radius: 10px;

}
.index-title{
    border-bottom: solid;
    border-bottom-color:rgb(0,122,204);
    padding-bottom: 5px;
    border-bottom-width: 2px;
    text-shadow: #000 1px 1px 2px;
}
.blur {
    -webkit-filter: blur(7px); /* Chrome, Opera */
    -moz-filter: blur(7px);
    -ms-filter: blur(7px);
    filter: blur(7px);
}